body {
  background-color: #ebfcf7;
  font-size: 1rem;
}

.header {
  background-color: #ebfcf7;
}

.header a:not(.btn) {
  color: #6e7687;
  font-size: 1rem;
}

.nav-tabs .nav-link {
  border-width: 3px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #2bcbba;
  border-color: #dee2e6 #dee2e6 #2bcbba;
}


