body {
  font-size: 1rem;
  background-color: #ebfcf7;
  background-image: linear-gradient(to right bottom, #757ae9, #8b78f2, #a274f8, #ba6efc, #d366fe, #a67fff, #7990ff, #529bff, #00afff, #00bdee, #00c7d0, #19ceaf);
  font-family: "Segoe UI",'DM Sans', "Helvetica Neue", Arial, sans-serif;
}

footer {
  background-color: transparent !important;
  border-top: 1px solid rgba(0, 40, 100, 0.12) !important;
}

a:not([href]):not([tabindex]).btn-primary {
  color: white !important;
}

.header {
  background-color: transparent;
}

.header a:not(.btn) {
  color: #6e7687;
  font-size: 1rem;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.nav-tabs .nav-link {
  border-width: 3px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #0D1E3B;
  border-color: #dee2e6 #dee2e6 #0D1E3B;
  font-weight: 500;
}

.header-toggler {
  align-self: center;
}

.hide {
  display: none !important;
}

.accordion__button {
  cursor: pointer;
}

.accordion__button:focus {
  outline: none !important;
}

button:disabled {
  cursor: not-allowed;
}

.earnings-image{
  background-image: url(/static/train-arriving-aave.png) !important;
  background-repeat: no-repeat  !important;
  background-size: 100% 100%  !important;
  min-height: 500px;
}

.full-height{
  height: 100%;
  min-height: 500px;
}

.center-items{
  display: flex;
  align-items: center;
}

.center-text{
  text-align: center;
}

.full-width{
  width: 100%;
}

.rainbow-text {
  background-image: linear-gradient(to left, #757ae9, #8b78f2, #a274f8, #ba6efc, #d366fe, #a67fff, #7990ff, #529bff, #00afff, #00bdee, #00c7d0, #19ceaf);   
  -webkit-background-clip: text;
  color: transparent;
}

@media (min-width: 576px) {
  .ticket-form {
    background-image: url(/static/referralTicket.png) !important;
    background-repeat: no-repeat  !important;
    background-size: 100% 100%  !important;
  }
}

@media (max-width: 576px) {
  .ticket-form {
  background: transparent !important;
  }
}

.ticket-form {
  height: 100%;
  width: 100%;
  min-height: 500px;
  padding-top: 110px;
}
